@import 'map';

$color_back: rgb(110, 156, 199);
$color_select: rgb(224, 21, 116);
$color_background: rgba(187, 187, 202, 0.411);

* {
    box-sizing: border-box;
}

.title {
    font-weight: bold;
    color: rgb(224, 21, 116);
}

.app-init {
    height: 100vh;
    background: $color_background;
}

.main {
    background: $color_background;
    text-align: center,
}

.weights {
    background-color: white;
}

.orders {
    background-color: white;
}

.tabs-nav {
    text-align: left;
    .tab {
        text-align: center;
        cursor: pointer;
        display: inline-block;
        width: 60px;
        height: 100%;
        background-color: $color_back;
        color: white;
        margin-right: 1px;
        &.active {
            background-color: $color_select;
        }
    }
}

// .message {

// }

// .order-control {

// }

@keyframes caret-animation {
    0%  { background-color:transparent; }
    50% { background-color: black; }
}

.input {
    line-height: 3em;
    vertical-align: middle;
    &.focus:after {
        content: "";
        display: inline;
        padding-left: 2px;
        animation-name: caret-animation;
        animation-duration: 1s;
        animation-delay: 0s;
        animation-iteration-count: infinite;
    }
}

.set-tara{
    .input {
        line-height: 1.8em;
    }
}

.list {
    background-color: $color_back;
    opacity: 85%;
}

// .order-info {

// }

.order-items {
    .selected {
        background-color: $color_select;
    }
}

.keyboard {
    background-color: white;
    .key {
        display: inline-block;
        min-width: 30px;
        border: solid 1px;
        margin: 5px;
    }
}

.controls {
    .disabled {
        background-color: rgb(100, 100, 100);
    }
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    z-index: 9999;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    left: 0;
    top: 0;
}

/*
.input-wrapper {
    background-color: white;
    padding: 0 .5rem;
    width: calc(100% - 1rem);

    display: -ms-flexbox;

    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: center;
        justify-content: center;
    white-space: nowrap;
}

.customer-input{
    display: inline-block;
    width: 100%;
    height: 2.5rem;
    font-size: 1.5rem;

    vertical-align: middle;

    outline: none;
    height: auto;
    max-width: 100%;
    white-space: nowrap;
    -o-text-overflow: clip;
       text-overflow: clip;
    caret-color: transparent;
    text-transform: uppercase;
    overflow: hidden;
    text-align: center;
}

@-webkit-keyframes caret-animation {
    0%  { background-color: black; }
    49%  { background-color: black; }
    50% { background-color: transparent; }
    99% { background-color: transparent; }
    100% { background-color: black; }
}

@keyframes caret-animation {
    0%  { background-color: black; }
    49%  { background-color: black; }
    50% { background-color: transparent; }
    99% { background-color: transparent; }
    100% { background-color: black; }
}

.customer-input::before {
    white-space: nowrap;
}

.customer-input::after {
    content: '';
    display: inline;
    padding-left: .15rem;
    height: 2.5rem;
    background-color: black;
    -webkit-animation-name: caret-animation;
            animation-name: caret-animation;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
}

// WEBPACK FOOTER //
// ./src/components
*/
