$border-color: #242724;

@mixin block{
    position: absolute;
    border-style: solid;
    border-color: $border-color;
    border-width: 2px;
}

.main {
    position: relative;
    height: 848px;
    width: 1020px;
    .weights {
        @include block;
        top: 10px;
        left: 10px;
        height: 100px;
        width: 1000px;
    }
    .orders {
        @include block;
        top: 120px;
        left: 10px;
        height: 510px;
        width: 1000px;
        .head {
            @include block;
            top: 1px;
            left: 1px;
            height: 30px;
            width: 994px;
        }        
        .tabs-nav {
            @include block;
            top: 32px;
            left: 1px;
            height: 50px;
            width: 599px;
        }
        .message {
            @include block;
            top: 32px;
            left: 601px;
            height: 50px;
            width: 394px;
        }
        .order-control {
            @include block;
            border: none;
            top: 82px;
            left: 0px;
            height: 424px;
            width: 852px;
            .input {
                @include block;
                top: 1px;
                left: 1px;
                height: 50px;
                width: 554px;
            }
            .list {
                @include block;
                top: 52px;
                left: 1px;
                width: 851px;
                height: 371px;
                z-index: 1;
            }
            .order-info {
                @include block;
                top: 1px;
                left: 556px;
                height: 50px;
                width: 296px;
            }
            .order-items {
                @include block;
                top: 52px;
                left: 1px;
                height: 371px;
                width: 851px;
            }
        }
        .controls {
            @include block;
            border: none;
            top: 82px;
            left: 853px;
            height: 424px;
            width: 144px;
            .tara.btn {
                @include block;
                top: 1px;
                left: 0px;
                height: 140px;
                width: 142px;
            }
            .print.btn {
                @include block;
                top: 142px;
                left: 0px;
                height: 140px;
                width: 142px;
            }
            .close.btn {
                @include block;
                top: 283px;
                left: 0px;
                height: 140px;
                width: 142px;
            }
        }
    }
    .keyboard {
        @include block;
        top: 638px;
        left: 10px;
        height: 200px;
        width: 1000px;
    }
}

.modal {
    .set-tara {
        position: relative; //why???
        height: 300px;
        width: 300px;
        background-color: white;
        .input {
            @include block;
            left: 10px;
            top: 30px;
            height: 30px;
            width: 280px;
        }
        .keyboard {
            @include block;
            left: 10px;
            top: 70px;
            height: 215px;
            width: 280px;
        }
    }
}
